*{
    margin: 0;
    padding: 0;
    /*text-align: center;*/
    box-sizing: border-box;
}

body{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}

.size{
    width: 55%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
}
.sizeCurrency{
    width: 38%;
}

.contBackground{
    background: #fff;
}

.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 15%;
    width: 60%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    width: 15%;
}

.rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.contact-form form{
    padding: 14%;
}
.bradius{
    border-radius: 15px;
}
